In [1]:
import pandas as pd

In [4]:
pip install xlrd

Collecting xlrd
  Downloading xlrd-2.0.1-py2.py3-none-any.whl (96 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 96.5/96.5 kB 4.0 MB/s eta 0:00:00
Installing collected packages: xlrd
Successfully installed xlrd-2.0.1
Note: you may need to restart the kernel to use updated packages.

In [2]:
df=pd.read_excel('migration_data.xls')

In [3]:
df.columns

Index(['Country/ Category Name', 'Country Code', 'Indicator Name',
       'Indicator Code', '1960', '1961', '1962', '1963', '1964', '1965',
       '1966', '1967', '1968', '1969', '1970', '1971', '1972', '1973', '1974',
       '1975', '1976', '1977', '1978', '1979', '1980', '1981', '1982', '1983',
       '1984', '1985', '1986', '1987', '1988', '1989', '1990', '1991', '1992',
       '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001',
       '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010',
       '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019',
       '2020', '2021'],
      dtype='object')

In [4]:
df.drop(columns=['Country Code','Indicator Name','Indicator Code'], inplace=True)

In [5]:
df.head()

,Country/ Category Name,1960,1961,1962,1963,1964,1965,1966,1967,1968,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Aruba,0,-569,-609,-646,-684,-726,-761,-1175,-1219,...,229,134,88,177,170,218,367,412,0,501
1,Africa Eastern and Southern,-90849,-1348,-24259,-16266,37452,11041,-12060,4529,17992,...,-285231,-92842,-199608,394925,-864708,-343075,-366105,-187410,-48955,-179444
2,Afghanistan,2606,6109,7016,6681,7079,10695,3563,6824,3333,...,105905,48076,255611,-281739,-90238,-47090,-47205,-8082,166821,-183672
3,Africa Western and Central,-847,-41547,-36399,-37435,-45534,-15985,-21743,9625,-2360,...,-435876,-377305,-280418,-360393,-167286,-200823,-255888,-328552,-99761,-264802
4,Angola,-43749,-49186,-54566,-59777,-71948,-87288,-104955,-113780,-111222,...,96056,91528,84532,74170,91623,77733,61632,58986,7557,29089

In [6]:
#melt to unpivot the DataFrame from wide format to long format
df_melted = pd.melt(df, id_vars=['Country/ Category Name'], var_name='Year', value_name='Value')

In [7]:
df_melted

            Country/ Category Name  Year   Value
0                            Aruba  1960       0
1      Africa Eastern and Southern  1960  -90849
2                      Afghanistan  1960    2606
3       Africa Western and Central  1960    -847
4                           Angola  1960  -43749
...                            ...   ...     ...
14193                       Kosovo  2021  -15050
14194                  Yemen, Rep.  2021 -101468
14195                 South Africa  2021   10934
14196                       Zambia  2021    9015
14197                     Zimbabwe  2021  -25005

[14198 rows x 3 columns]

In [8]:
df_melted.to_excel('migrationData.xlsx', index=False)